/*
	Copyright 2020, GUILLEUS Hugues <ghugues@netc.fr>
	BSD 3-Clause License
*/

body {
	max-width: 80ex;
	margin: 0 auto;
	padding: 1ex 2ex;
	font-family: sans-serif;
	font-size: large;
	background: silver;
}

code {
	font-family: monospace;
	font-weight: bolder;
}

dt {
	margin-top: 2ex;
	font-weight: bold;
}

dd {
	margin-left: 0;
	font-size: x-large;
}

/* LANG  */

#langList {
	text-align: right;
	font-size: smaller;
}

.langItem {
	display: inline-block;
	margin: 0 1ex;
	font-weight: bold;
	text-decoration: underline;
	color: dimgrey;
}

.langSelected {
	text-decoration: none;
	font-weight: normal;
	color: grey;
}

/* MAIN ELEMENT */

.error {
	border-left: 0.5ex solid;
	padding-left: 1ex;
	font-size: larger;
	color: maroon;
}

#compassGroup {
	overflow: hidden;
	max-width: 60vh;
	max-height: 60vh;
	margin: auto;
}

#compass {
	display: block;
	width: 100%;
	height: 100%;
}

/* FOOTER */

.pwaButtonGroup {
	margin: 1ex 0 2ex;
}

.pwaButtonItem {
	margin: 1ex;
	border: none;
	padding: 0.3ex 1ex;
	font-size: inherit;
	background: grey;
}

.pwaButtonItem:hover {
	background: dimgrey;
}

.pwaButtonItem:first-of-type {
	margin-left: 0;
}

.license {
	border-left: solid 0.5ex grey;
	padding-left: 1ex;
	font-size: smaller;
}

.license a {
	color: black;
}

/* LICENSE PAGE */

.licensePage {
	max-width: 68ex;
	text-align: justify;
}

.licensePage li {
	margin-bottom: 1ex;
}

.licensePage p {
	text-indent: 4ex;
}

a.licenseBack {
	display: table;
	margin-bottom: 2ex;
	border: none;
	padding: 0.3ex 1ex;
	font-size: large;
	color: black;
	background: grey;
}
